@import "tailwindcss";

@font-face {
  font-family: "bolota";
  src: url("/dist/font/Bolota.ttf");
}

@font-face {
  font-family: "chillax";
  src: url("/dist/font/Chillax-Variable.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("/dist/font/Outfit-Variable.ttf");
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
