@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bolo";
  src: url("/dist/font/Bolota.ttf");
}

@font-face {
  font-family: "chillax";
  src: url("/dist/font/Chillax-Variable.ttf");
}

@font-face {
  font-family: "outfit";
  src: url("/dist/font/Outfit-Variable.ttf");
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display:;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

#hamburger.active .hamburger-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

#hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

#hamburger.active .hamburger-line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Swiper */

.swiper {
  width: 100%;
  max-width: 1000px;
  height: 550px;
}

.swiper-slide {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.5s;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active {
  transform: scale(1.1);
  z-index: 10;
}

#rekomendasi .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}

/* Title */

.title-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.swiper-slide-active .title-container {
  opacity: 1;
}
